<!-- ############ PAGE START-->
<div class="padding" ng-controller="ClientModuleController">
    <div class="box">
        <div class="box-header">
            <h2>Modules for {{ clientName }}</h2>
            <small>View and manage modules associated with the client</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToCreateClientModule()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Module</span>
                    </button>
                    <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>
                            Client Name
                        </th>
                        <th>
                            Module Name
                        </th>
                        <th>
                            Module Count
                        </th>
                        <th>
                            Groups
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="module in clientmoduleList | filter:searchText">
                        <td>{{ clientName }}</td>
                        <td>{{ module.module.name }}</td>
                        <td>{{ getModuleCount(module) }}</td>
                        <td>
                            <div ng-repeat="group in groups">
                                <label>
                                    <input type="checkbox" ng-checked="isGroupAssignedToModule(module, group.id)"
                                        ng-click="toggleGroupAssignment(module, group.id)">
                                    {{ group.name }}
                                </label>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="editClientModule(module.id)">Edit</button>
                            <button class="btn btn-danger btn-xs"
                                ng-click="deleteClientModule(module.id)">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs"
                                ng-click="detailClientModule(module)">Details</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="4" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->