<!-- ############ PAGE START-->
<div class="padding" ng-controller="ClientModuleUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Update Client Module</h2>
                    <small>Update the details for the selected client module.</small>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateClientModule()" novalidate>
                        <div class="form-group">
                            <label for="module_id">Module</label>
                            <select id="module_id" class="form-control" ng-model="clientmoduleData.module_id"
                                ng-options="module.id as module.name for module in modules" required>
                                <option value="">--Select Module--</option>
                            </select>
                        </div>
                        <button type="submit" class="md-btn md-raised m-b-sm w-xs blue">Submit</button>
                        <button type="button" class="md-btn md-raised m-b-sm w-xs white"
                            ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->