<!-- ############ PAGE START-->
<div class="padding" ng-controller="AvatarUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Updating {{ formAvatar.name }}</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateAvatar()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="formAvatar.name"
                                placeholder="Avatar Name" required>
                        </div>
                        <div class="form-group">
                            <label>File</label>
                            <input type="file" file-model="formAvatar.file" class="form-control" placeholder="Avatar File">
                        </div>
                        <div class="progress mb-2" ng-show="showProgress">
                            <div class="progress-bar progress-bar-striped info" role="progressbar" 
                                 ng-style="{'width': loadingProgress + '%'}" 
                                 aria-valuenow="{{ loadingProgress }}" 
                                 aria-valuemin="0" 
                                 aria-valuemax="100">
                                {{ loadingProgress }}%
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
