<body>
    <div class="app" id="app">
        <div id="aside" class="app-aside modal nav-dropdown">
            <div class="left navside dark dk" data-layout="column">
                <div class="navbar no-radius">
                    <a class="navbar-brand">
                        <img src="../assets/images/GRUPPODSE_DIGISOFT.png">
                    </a>
                </div>
                <div class="hide-scroll" data-flex>
                    <nav class="scroll nav-light">
                        <ul class="nav" ui-nav ng-controller="BaseController">
                            <li class="nav-header hidden-folded">
                                <small class="text-muted">Main</small>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.home-su">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li ng-if="isOnlyStaff()">
                                <a ui-sref="base.home-admin">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Home</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.licenses-view">
                                    <span class="nav-icon">
                                        <i class="fa fa-database"></i>
                                    </span>
                                    <span class="nav-text">Licenses</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser() || isStaff()">
                                <a ui-sref="base.user-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Users</span>
                                </a>
                            </li>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.avatar-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Avatar</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.voice-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Voices</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.language-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Languages</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.module-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Modules</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.screentype-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Screen Types</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.buttontype-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Button Types</span>
                                </a>
                            </li>
                            <li ng-if="isSuperuser()">
                                <a ui-sref="base.grouptype-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Group Types</span>
                                </a>
                            </li>
                            <li ng-if="isOnlyStaff()">
                                <a ui-sref="base.client-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Clients</span>
                                </a>
                            </li>
                            <li ng-if="isOnlyStaff()">
                                <a ui-sref="base.group-view-all">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Groups</span>
                                </a>
                            </li>
                            <li ng-if="isOnlyStaff()">
                                <a ui-sref="base.logs-view">
                                    <span class="nav-icon">
                                        <i class="material-icons md-24"></i>
                                    </span>
                                    <span class="nav-text">Logs</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div ng-controller="BaseController">
                    <button type="submit" class="md-btn md-raised m-b-sm w-xs blue" style="width: 100%;"
                        ng-click="logout()">Logout</button>
                </div>
                <div class="b-t" ng-controller="UserController">
                    <div class="nav-fold">
                        <span class="clear hidden-folded p-x">
                            <span class="block _500">{{userName}}</span>
                            <small class="block text-muted"><i
                                    class="fa fa-circle text-success m-r-sm"></i>online</small>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="app-content box-shadow-z0" role="main" ng-controller="BaseController">
            <div class="app-header white box-shadow">
                <div class="navbar navbar-toggleable-sm flex-row align-items-center">
                    <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
                        <i class="material-icons">&#xe5d2;</i>
                    </a>
                    <div class="mb-0 h5 no-wrap" ng-bind="$state.current.data.title" id="pageTitle"></div>
                    <div class="collapse navbar-collapse" id="collapse">
                        <div class="row w-100">
                            <div class="col-sm-4">
                                <h4 class="mb-0 _100">
                                    Hi {{ userName }}, Welcome back!
                                </h4>
                            </div>
                            <div class="col-sm-4 text-center">
                                <img src="../../assets/images/cubo_196.png" alt="Logo"
                                    style="height: 40px; margin-right: 10px;">
                            </div>
                            <div class="col-sm-4 text-right">
                                <small style="margin-left: 10px; display: inline-block;">
                                    Last login:<br>
                                    {{ lastLogin | date:'yyyy-MM-dd HH:mm:ss' }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-view class="app-body" id="view">
                <div style="min-height: 200px"></div>
                <div id="root"></div>
            </div>
        </div>
        <div id="switcher">
            <div class="switcher box-color dark-white text-color" id="sw-theme">
                <a href ui-toggle-class="active" target="#sw-theme" class="box-color dark-white text-color sw-btn">
                    <i class="fa fa-gear"></i>
                </a>
                <div class="box-header">
                    <h2>Theme Switcher</h2>
                </div>
                <div class="box-divider"></div>
                <div class="box-body">
                    <p class="hidden-md-down">
                        <label class="md-check m-y-xs" data-target="folded">
                            <input type="checkbox">
                            <i class="green"></i>
                            <span class="hidden-folded">Folded Aside</span>
                        </label>
                        <label class="md-check m-y-xs" data-target="boxed">
                            <input type="checkbox">
                            <i class="green"></i>
                            <span class="hidden-folded">Boxed Layout</span>
                        </label>
                    </p>
                    <p>Themes:</p>
                    <div data-target="bg" class="row no-gutter text-u-c text-center _600 clearfix">
                        <label class="p-a col-sm-6 light pointer m-0">
                            <input type="radio" name="theme" value="" hidden>
                            Light
                        </label>
                        <label class="p-a col-sm-6 grey pointer m-0">
                            <input type="radio" name="theme" value="grey" hidden>
                            Grey
                        </label>
                        <label class="p-a col-sm-6 dark pointer m-0">
                            <input type="radio" name="theme" value="dark" hidden>
                            Dark
                        </label>
                        <label class="p-a col-sm-6 black pointer m-0">
                            <input type="radio" name="theme" value="black" hidden>
                            Black
                        </label>
                    </div>
                </div>
            </div>
</body>