<!-- ############ PAGE START-->
<div class="padding" ng-controller="ButtonController">
    <div class="box">
        <div class="box-header">
            <h2>Buttons for {{ touchscreeninteractionName }}</h2>
            <small>Manage buttons for {{ clientName }}</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="md-btn md-raised m-b-sm w-md green" ng-click="goToCreateButton()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Button</span>
                    </button>
                    <button type="button" class="md-btn md-raised m-b-sm w-xs blue pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="button in getPaginatedData() | filter:searchText" ng-class-even="'footable-even'"
                    ng-class-odd="'footable-odd'">
                        <td>{{ button.name }}</td>
                        <td>{{ button.button_type.name }}</td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs white"
                                ng-click="editButton(button.id, button.name)">Edit</button>
                            <button class="md-btn md-raised m-b-sm w-xs red" ng-click="deleteButton(button.id)">Delete</button>
                        </td>
                        <td>
                            <input type="file" id="fileInput{{ button.id }}" style="display: none;"  ng-if="isDownloadable(button)" />
                            <button class="md-btn md-raised m-b-sm w-xs indigo"
                              ng-click="triggerFileInput(button.id, button.name, button.button_type.id)"  ng-if="isDownloadable(button)">Upload</button>
                            <button class="md-btn md-flat m-b-sm w-xs" ng-click="viewFile(button.file_path)"  ng-if="isDownloadable(button)">View</button>
                            <button class="md-btn md-raised m-b-sm w-xs indigo" ng-if="isURL(button)" ng-click="redirectToURL(button.url)">Go To URL</button>
                            <button class="md-btn md-raised m-b-sm w-sm indigo" ng-if="isForm(button)" ng-click="redirectToModule(button)">Go To Form</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination">
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(0)">«</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(currentPage - 1)">‹</a>
                            </li>
                            <li ng-repeat="page in getPages() track by $index"
                                ng-class="{ active: currentPage === page, disabled: page === '...' }">
                                <a ng-click="setCurrentPage(page)" ng-if="page !== '...'">{{ page + 1 }}</a>
                                <a ng-if="page === '...'" style="pointer-events: none;">...</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(currentPage + 1)">›</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(totalPages() - 1)">»</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tfoot>
        </div>
        <div class="progress mb-2" ng-show="showProgress">
            <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{'width': loadingProgress + '%'}"
              aria-valuenow="{{ loadingProgress }}" aria-valuemin="0" aria-valuemax="100">
              {{ loadingProgress }}%
        </div>
    </div>
</div>
<!-- ############ PAGE END-->