<div class="p-a white lt box-shadow">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="mb-0 _100">Hi {{ userName }}, Welcome back!</h4>
        </div>
    </div>
</div>
<div class="padding">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="box p-a text-center canvas-container">
                <div class="pull-left m-r">
                    <span class="w-48 rounded accent">
                        <i class="material-icons md-24"></i>
                    </span>
                </div>
                <div class="clear" ng-repeat="license in licenses">
                    <h4 class="m-0 text-lg _300">{{ license.total_totem }} kiosks</h4>
                    <small class="text-muted">available on your license.</small>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="box p-a text-center canvas-container">
                <div class="chart-container">
                    <canvas id="chartTotemsDS" class="small-canvas" width="60" height="60"></canvas>
                    <div class="chart-text">{{ percentUsedTotemsDS }}%</div>
                </div>
                <h4 class="m-0 text-lg _300"><span class="text-sm">{{ usedTotemsDS }} DS kiosks used</span></h4>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="box p-a text-center canvas-container">
                <div class="chart-container">
                    <canvas id="chartTotemsAI" class="small-canvas" width="60" height="60"></canvas>
                    <div class="chart-text">{{ percentUsedTotemsAI }}%</div>
                </div>
                <h4 class="m-0 text-lg _300"> <span class="text-sm">{{ usedTotemsAI }} AI kiosks used</span></h4>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="box p-a text-center canvas-container">
                <div class="chart-container">
                    <canvas id="chartRemainingTotems" class="small-canvas" width="60" height="60"></canvas>
                    <div class="chart-text">{{ percentRemainingTotems }}%</div>
                </div>
                <h4 class="m-0 text-lg _300"><span class="text-sm">{{ remainingTotems }} Kiosks remaining</span></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Campaigns DS Section -->
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header">
                    <h3>Campaigns DS</h3>
                    <small class="block text-muted" id="chartSubtitle">Campaigns in the month of
                        {{monthNames[selectedMonth]}}</small>

                    <ul class="nav pull-right">
                        <li class="nav-item inline">
                            <select class="form-control" ng-model="selectedClient" ng-change="filterCampaignsByClient()"
                                ng-options="client.id as client.name for client in clients">
                                <option value="">All Clients</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline dropdown">
                                <a class="nav-link" data-toggle="dropdown">
                                    <i class="material-icons md-18">&#xe5d4;</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-scale pull-right">
                                    <a class="dropdown-item" href ng-click="setMonth(0)">January</a>
                                    <a class="dropdown-item" href ng-click="setMonth(1)">February</a>
                                    <a class="dropdown-item" href ng-click="setMonth(2)">March</a>
                                    <a class="dropdown-item" href ng-click="setMonth(3)">April</a>
                                    <a class="dropdown-item" href ng-click="setMonth(4)">May</a>
                                    <a class="dropdown-item" href ng-click="setMonth(5)">June</a>
                                    <a class="dropdown-item" href ng-click="setMonth(6)">July</a>
                                    <a class="dropdown-item" href ng-click="setMonth(7)">August</a>
                                    <a class="dropdown-item" href ng-click="setMonth(8)">September</a>
                                    <a class="dropdown-item" href ng-click="setMonth(9)">October</a>
                                    <a class="dropdown-item" href ng-click="setMonth(10)">November</a>
                                    <a class="dropdown-item" href ng-click="setMonth(11)">December</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="ganttChart" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
        <!-- Campaigns AI Section -->
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header">
                    <h3>Campaigns AI</h3>
                    <small class="block text-muted" id="chartSubtitleAI">Campaigns in the month of
                        {{monthNames[selectedMonth]}}</small>

                    <ul class="nav pull-right">
                        <li class="nav-item inline">
                            <select class="form-control" ng-model="selectedClientAI"
                                ng-change="filterCampaignsByClientAI()"
                                ng-options="client.id as client.name for client in clients">
                                <option value="">All Clients</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="box-tool">
                        <ul class="nav">
                            <li class="nav-item inline dropdown">
                                <a class="nav-link" data-toggle="dropdown">
                                    <i class="material-icons md-18">&#xe5d4;</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-scale pull-right">
                                    <a class="dropdown-item" href ng-click="setMonthAI(0)">January</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(1)">February</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(2)">March</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(3)">April</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(4)">May</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(5)">June</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(6)">July</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(7)">August</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(8)">September</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(9)">October</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(10)">November</a>
                                    <a class="dropdown-item" href ng-click="setMonthAI(11)">December</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="ganttChartAI" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3>Clients <span class="label warning">{{ clients.length }}</span></h3>
                    <small>Data status</small>
                </div>
                <ul class="list inset">
                    <li class="list-item" ng-repeat="client in clients">
                        <a class="list-left">
                            <span class="w-40 r-2x _600 text-lg accent">{{ client.name.charAt(0).toUpperCase() }}</span>
                        </a>
                        <div class="list-body">
                            <div class="m-y-sm pull-right">
                                <a class="btn btn-xs white btn-icon"><i class="fa fa-pencil"
                                        ng-click="editClient(client.id)"></i></a>
                            </div>
                            <div>
                                <a ng-click="viewGroups(client.id, client.name)">{{ client.name }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="col-sm-12 col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3>Stats</h3>
                    <small>Your data status</small>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline">
                            <a class="nav-link">
                                <i class="material-icons md-18">&#xe863;</i>
                            </a>
                        </li>
                        <li class="nav-item inline dropdown">
                            <a class="nav-link" data-toggle="dropdown">
                                <i class="material-icons md-18">&#xe5d4;</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href>This week</a>
                                <a class="dropdown-item" href>This month</a>
                                <a class="dropdown-item" href>This week</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Today</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:60px;" class="text-center">Graph</th>
                            <th>Item</th>
                            <th style="width:70px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div ui-jp="sparkline" ui-refresh="app.setting.color"
                                    ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'#0cc2aa'}"
                                    class="sparkline inline">loading...</div>
                            </td>
                            <td>App downloads</td>
                            <td class="text-success">
                                <i class="fa fa-level-up"></i> 40%
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div ui-jp="sparkline" ui-refresh="app.setting.color"
                                    ui-options="[ 60,30,10 ], {type:'pie', height:19, sliceColors:['#fcc100','#fff','#0cc2aa']}"
                                    class="sparkline inline">loading...</div>
                            </td>
                            <td>Social connection</td>
                            <td class="text-success">
                                <i class="fa fa-level-up"></i> 20%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div ui-jp="sparkline" ui-refresh="app.setting.color"
                                    ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'line', height:19, width:60, lineColor:'#0cc2aa', fillColor:'transparent'}"
                                    class="sparkline inline">loading...</div>
                            </td>
                            <td>Revenue</td>
                            <td class="text-warning">
                                <i class="fa fa-level-down"></i> 5%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div ui-jp="sparkline" ui-refresh="app.setting.color"
                                    ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'discrete', height:19, width:60, lineColor:'#6cc788'}"
                                    class="sparkline inline">loading...</div>
                            </td>
                            <td>Customer increase</td>
                            <td class="text-danger">
                                <i class="fa fa-level-down"></i> 20%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div ui-jp="sparkline" ui-refresh="app.setting.color"
                                    ui-options="[ 16,15,15,14,17,18,16,15,16 ], {type:'line', height:19, width:60, lineColor:'#fcc100', fillColor:'#fcc100'}"
                                    class="sparkline inline">loading...</div>
                            </td>
                            <td>Order placed</td>
                            <td class="text-warning">
                                <i class="fa fa-level-down"></i> 5%
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div ui-jp="sparkline" ui-refresh="app.setting.color"
                                    ui-options="[ 16,15,15,16,15,16,14,17,18 ], {type:'line', height:19, width:60, lineColor:'#fcc100', fillColor:'transparent'}"
                                    class="sparkline inline">loading...</div>
                            </td>
                            <td>Visitors</td>
                            <td class="text-warning">
                                <i class="fa fa-level-down"></i> 8%
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="box">
                <div class="box-header">
                    <h3>Members</h3>
                </div>
                <ul class="list no-border p-b">
                    <li class="list-item">
                        <a herf class="list-left">
                            <span class="w-40 avatar">
                                <img src="" alt="...">
                                <i class="on b-white bottom"></i>
                            </span>
                        </a>
                        <div class="list-body">
                            <div><a href>Chris Fox</a></div>
                            <small class="text-muted text-ellipsis">Designer, Blogger</small>
                        </div>
                    </li>
                    <li class="list-item">
                        <a herf class="list-left">
                            <span class="w-40 avatar">
                                <img src="" alt="...">
                                <i class="on b-white bottom"></i>
                            </span>
                        </a>
                        <div class="list-body">
                            <div><a href>Mogen Polish</a></div>
                            <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
                        </div>
                    </li>
                    <li class="list-item">
                        <a herf class="list-left">
                            <span class="w-40 avatar">
                                <img src="" alt="...">
                                <i class="away b-white bottom"></i>
                            </span>
                        </a>
                        <div class="list-body">
                            <div><a href>Joge Lucky</a></div>
                            <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
                        </div>
                    </li>
                    <li class="list-item">
                        <a herf class="list-left">
                            <span class="w-40 avatar">
                                <img src="" alt="...">
                                <i class="busy b-white bottom"></i>
                            </span>
                        </a>
                        <div class="list-body">
                            <div><a href>Folisise Chosielie</a></div>
                            <small class="text-muted text-ellipsis">Musician, Player</small>
                        </div>
                    </li>
                    <li class="list-item">
                        <a herf class="list-left">
                            <span class="w-40 avatar success">
                                <span>P</span>
                                <i class="away b-white bottom"></i>
                            </span>
                        </a>
                        <div class="list-body">
                            <div><a href>Peter</a></div>
                            <small class="text-muted text-ellipsis">Musician, Player</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="box">
                <div class="box-header">
                    <h3>Tasks</h3>
                    <small>20 finished, 5 remaining</small>
                </div>
                <div class="box-tool">
                    <ul class="nav">
                        <li class="nav-item inline dropdown">
                            <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-scale pull-right">
                                <a class="dropdown-item" href>New task</a>
                                <a class="dropdown-item" href>Make all finished</a>
                                <a class="dropdown-item" href>Make all unfinished</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Settings</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="streamline b-l m-l">
                        <div class="sl-item b-success">
                            <div class="sl-icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="sl-content">
                                <div class="sl-date text-muted">8:30</div>
                                <div>Call to customer <a href class="text-info">Jacob</a> and discuss the detail about
                                    the AP project.</div>
                            </div>
                        </div>
                        <div class="sl-item b-info">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Sat, 5 Mar</div>
                                <div>Prepare for presentation</div>
                            </div>
                        </div>
                        <div class="sl-item b-warning">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Sun, 11 Feb</div>
                                <div><a href class="text-info">Jessi</a> assign you a task <a href
                                        class="text-info">Mockup Design</a>.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a href class="btn btn-sm warn text-u-c pull-right">Add one</a>
                    <a href class="btn btn-sm white text-u-c">More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="box">
                <div class="box-header">
                    <span class="label success pull-right">5</span>
                    <h3>Activity</h3>
                    <small>10 members update their activies.</small>
                </div>
                <div class="box-body">
                    <div class="streamline b-l m-b m-l">
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="" class="img-circle">
                            </div>
                            <div class="sl-content">
                                <a href class="text-info">Louis Elliott</a><span class="m-l-sm sl-date">5 min ago</span>
                                <div>assign you a task <a href class="text-info">Mockup Design</a>.</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="" class="img-circle">
                            </div>
                            <div class="sl-content">
                                <a href class="text-info">Terry Moore</a><span class="m-l-sm sl-date">10 min ago</span>
                                <div>Follow up to close deal</div>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-left">
                                <img src="" class="img-circle">
                            </div>
                            <div class="sl-content">
                                <a href class="text-info">Walter Paler</a><span class="m-l-sm sl-date">1 hour ago</span>
                                <div>was added to Repo</div>
                            </div>
                        </div>
                    </div>
                    <a href class="btn btn-sm white text-u-c m-y-xs">Load More</a>
                </div>
            </div>
        </div> -->
    </div>
</div>