<div ng-controller="HomeController">

    <div ng-include="'app/licenses/license-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/users/user-view.html'" ng-if="isSuperuser() || isStaff()"></div>
    <div ng-include="'app/avatar/avatar-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/voice/voice-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/language/language-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/module/module-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/screentype/screentype-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/buttontype/buttontype-view.html' " ng-if="isSuperuser()"></div>
    <div ng-include="'app/client/client-view.html'" ng-if="isOnlyStaff()"></div>
    <div ng-include="'app/group/group-view-all.html'" ng-if="isOnlyStaff()"></div>

</div>