<!-- ############ PAGE START-->
<div class="padding">
    <div class="row">
        <!-- Total Licenses -->
        <div class="col-xs-12 col-sm-4 custom-license-card">
            <div class="box p-a text-center canvas-container">
                <div class="pull-left m-r">
                    <span class="w-64 rounded accent">
                        <i class="fas fa-id-card fa-3x"></i>
                    </span>
                </div>
                <div class="clear">
                    <h4 class="m-0 text-xl _300">{{ totalLicenses }} total licenses</h4>
                    <small class="text-muted">in your system.</small>
                </div>
            </div>
        </div>
        <!-- Active Licenses -->
        <div class="col-xs-12 col-sm-4 custom-license-card">
            <div class="box p-a text-center canvas-container">
                <div class="chart-container">
                    <canvas id="chartActiveLicenses" class="large-canvas" width="120" height="120"></canvas>
                    <div class="chart-text">{{ percentActiveLicenses }}%</div>
                </div>
                <h4 class="m-0 text-xl _300"><span class="text-sm">{{ activeLicenses }} active licenses</span></h4>
            </div>
        </div>
        <!-- Inactive Licenses -->
        <div class="col-xs-12 col-sm-4 custom-license-card">
            <div class="box p-a text-center canvas-container">
                <div class="chart-container">
                    <canvas id="chartInactiveLicenses" class="large-canvas" width="120" height="120"></canvas>
                    <div class="chart-text">{{ percentInactiveLicenses }}%</div>
                </div>
                <h4 class="m-0 text-xl _300"><span class="text-sm">{{ inactiveLicenses }} inactive licenses</span></h4>
            </div>
        </div>
    </div>

    <!-- Licenses Lists -->
    <div class="row">
        <!-- Active Licenses List -->
        <div class="col-sm-12 col-md-6">
            <div class="box" style="max-height: 400px; overflow-y: auto;">
                <div class="box-header">
                    <h3>Active Licenses <span class="label warning">{{ activeLicensesList.length }}</span></h3>
                    <small>Active licenses details</small>
                </div>
                <ul class="list inset">
                    <li class="list-item" ng-repeat="license in activeLicensesList">
                        <a class="list-left">
                            <span class="w-40 r-2x _600 text-lg accent">{{ license.name.charAt(0).toUpperCase()
                                }}</span>
                        </a>
                        <div class="list-body">
                            <div class="m-y-sm pull-right">
                                <a class="btn btn-xs white btn-icon"><i class="fa fa-pencil"
                                        ng-click="editLicense(license.id)"></i></a>
                            </div>
                            <div>
                                <a>{{ license.name }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Inactive Licenses List -->
        <div class="col-sm-12 col-md-6">
            <div class="box" style="height: 400px; overflow-y: auto;">
                <div class="box-header">
                    <h3>Inactive Licenses <span class="label warning">{{ inactiveLicensesList.length }}</span></h3>
                    <small>Inactive licenses details</small>
                </div>
                <ul class="list inset">
                    <li class="list-item" ng-repeat="license in inactiveLicensesList">
                        <a class="list-left">
                            <span class="w-40 r-2x _600 text-lg accent">{{ license.name.charAt(0).toUpperCase()
                                }}</span>
                        </a>
                        <div class="list-body">
                            <div class="m-y-sm pull-right">
                                <a class="btn btn-xs white btn-icon"><i class="fa fa-pencil"
                                        ng-click="editLicense(license.id)"></i></a>
                            </div>
                            <div>
                                <a>{{ license.name }}</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->

<style>
    .custom-license-card .canvas-container {
        position: relative;
    }

    .custom-license-card .chart-container {
        position: relative;
        width: 120px;
        height: 300px;
        margin: 0 auto;
    }

    .custom-license-card .large-canvas {
        width: 120px !important;
        height: 120px !important;
    }

    .custom-license-card .chart-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
    }

    .custom-license-card .fas {
        font-size: 36px;
        line-height: 64px;

    }

    .custom-license-card .w-64 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background-color: #0496bf;
        border-radius: 50%;
    }
</style>