<!-- ############ PAGE START-->
<div class="padding" ng-controller="GroupUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Updating {{ group.name }}</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateGroup()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="group.name" placeholder="Group Name" required>
                        </div>
                        <div class="form-group">
                            <label>Typology</label>
                            <select class="form-control" ng-model="group.typology" required>
                                <option value="">Select Typology</option>
                                <option value="Artificial Intelligence">Intelligenza artificiale</option>
                                <option value="Digital Signage">Digital Signage</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea class="form-control" ng-model="group.comments" placeholder="Comments"></textarea>
                        </div>
                        <!-- <div class="form-group">
                            <label>Client Name</label>
                            <input type="text" class="form-control" ng-model="clientName" placeholder="Client Name" readonly>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
