<!-- ############ PAGE START-->
<div class="padding" ng-controller="FormDataController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Form Fields for {{ formName }}</h2>
                    <small>Manage fields for the specific form</small>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form novalidate name="formFieldsForm">
                        <div class="form-group" ng-repeat="field in formFields">
                            <label for="{{field.name}}">{{ field.name }}</label>
                            <input ng-if="field.field_type == 'text'" type="text" class="form-control" id="{{field.name}}" ng-model="formData[field.name]" required="{{field.required}}">
                            <input ng-if="field.field_type == 'number'" type="number" class="form-control" id="{{field.name}}" ng-model="formData[field.name]" required="{{field.required}}">
                            <input ng-if="field.field_type == 'date'" type="date" class="form-control" id="{{field.name}}" ng-model="formData[field.name]" required="{{field.required}}">
                            <input ng-if="field.field_type == 'checkbox'" type="checkbox" class="form-check-input" id="{{field.name}}" ng-model="formData[field.name]">
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="createFormData()">Create</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelCreate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
