<!-- ############ PAGE START-->
<div class="padding" ng-controller="FormDataController">
    <div class="box">
        <div class="box-header">
            <h2>Data for {{ formName }}</h2>
            <small>Manage form data for {{ clientName }}</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="md-btn md-raised m-b-sm w-md green" ng-click="exportToCSV()">
                        <i class="fa fa-fw fa-file-text text-muted"></i>
                        <span>Export to CSV</span>
                    </button>
                    <button type="button" class="md-btn md-raised m-b-sm w-xs blue pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th ng-repeat="field in formFields">{{ field.name }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in getPaginatedData() | filter:searchText" ng-class-even="'footable-even'"
                    ng-class-odd="'footable-odd'">
                        <td ng-repeat="field in formFields">
                            <span ng-if="field.field_type !== 'date'">{{ data.data[field.name] }}</span>
                            <span ng-if="field.field_type === 'date'">{{ data.data[field.name] | date:'dd/MM/yyyy' }}</span>
                        </td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs red" ng-click="deleteFormData(data.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination">
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(0)">«</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(currentPage - 1)">‹</a>
                            </li>
                            <li ng-repeat="page in getPages()" ng-class="{ active: currentPage === page }">
                                <a ng-click="setCurrentPage(page)">{{ page + 1 }}</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(currentPage + 1)">›</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(totalPages() - 1)">»</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tfoot>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->