<!-- ############ PAGE START-->
<div class="padding" ng-controller="FormDataController">
    <div class="box">
        <div class="box-header">
            <h2>Data for {{ formName }}</h2>
            <small>Manage form data for {{ clientName }}</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToCreateFormData()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Data</span>
                    </button>
                    <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th ng-repeat="field in formFields">{{ field.name }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in formDataList | filter:searchText track by data.id">
                        <td ng-repeat="field in formFields">
                            <span ng-if="field.field_type !== 'date'">{{ data.data[field.name] }}</span>
                            <span ng-if="field.field_type === 'date'">{{ data.data[field.name] | date:'dd/MM/yyyy'
                                }}</span>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-xs" ng-click="deleteFormData(data.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="{{ formFields.length + 1 }}" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->