<!-- ############ PAGE START-->
<div class="padding" ng-controller="LicenseController">
  <div class="box">
    <div class="box-header">
      <h2>License Details</h2>
      <small>Details of registered licenses</small>
    </div>
    <div class="p-a white lt box-shadow">
      <div class="row">
        <div class="col-sm-6">
          Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
            ng-model="searchText" />
        </div>
        <div class="col-sm-6">
          <button class="btn btn-fw primary" ng-click="goToCreateLicense()">
            <i class="fa fa-fw fa-plus text-muted"></i>
            <span>New License</span>
          </button>
          <a>
            <button type="button" class="btn btn-fw info pull-right" ng-if="!isHomePage()"
              ng-click="goBack()">Back</button>
          </a>
        </div>
      </div>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
            <th class="license-id-column">
              License ID
            </th>
            <th data-toggle="true">
              Company Name
            </th>
            <th>
              Email
            </th>
            <th data-hide="phone,tablet">
              Telephone
            </th>
            <th data-hide="phone">
              Active Status
            </th>
            <th data-hide="phone">
              Start Date
            </th>
            <th data-hide="phone">
              End Date
            </th>
            <th>Avatar</th>
            <th>Voices</th>
            <th>Languages</th>
            <th>Modules</th>
            <th>Screen Types</th>
            <th>Button Types</th>
            <th>Group Types</th>
            <th>Total Totem</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="license in getPaginatedData() | filter:searchText" ng-class-even="'footable-even'"
            ng-class-odd="'footable-odd'">
            <td>{{ license.id }}</td>
            <td>{{ license.name }}</td>
            <td>{{ license.email }}</td>
            <td>{{ license.tel }}</td>
            <td>
              <i class="fa fa-check text-success" ng-show="license.active"></i>
              <i class="fa fa-times text-danger" ng-show="!license.active"></i>
            </td>
            <td>{{ license.start_date | date:'dd/MM/yyyy' }}</td>
            <td>{{ license.end_date | date:'dd/MM/yyyy' }}</td>
            <td>
              <div ng-repeat="avatar in avatars">
                <label>
                  <input type="checkbox" ng-checked="isAvatarAssignedToLicense(license, avatar.id)"
                    ng-click="toggleAvatarAssignment(license, avatar.id)">
                  {{ avatar.name }}
                </label>
              </div>
            </td>
            <td>
              <div ng-repeat="voice in voices">
                <label>
                  <input type="checkbox" ng-checked="isVoiceAssignedToLicense(license, voice.id)"
                    ng-click="toggleVoiceAssignment(license, voice.id)">
                  {{ voice.name }}
                </label>
              </div>
            </td>
            <td>
              <div ng-repeat="language in languages">
                <label>
                  <input type="checkbox" ng-checked="isLanguageAssignedToLicense(license, language.id)"
                    ng-click="toggleLanguageAssignment(license, language.id)">
                  {{ language.name }}
                </label>
              </div>
            </td>
            <td>
              <div ng-repeat="module in modules">
                <label>
                  <input type="checkbox" ng-checked="isModuleAssignedToLicense(license, module.id)"
                    ng-click="toggleModuleAssignment(license, module.id)">
                  {{ module.name }}
                </label>
              </div>
            </td>
            <td>
              <div ng-repeat="screentype in screentypes">
                <label>
                  <input type="checkbox" ng-checked="isScreenTypeAssignedToLicense(license, screentype.id)"
                    ng-click="toggleScreenTypeAssignment(license, screentype.id)">
                  {{ screentype.name }}
                </label>
              </div>
            </td>
            <td>
              <div ng-repeat="buttontype in buttontypes">
                <label>
                  <input type="checkbox" ng-checked="isButtonTypeAssignedToLicense(license, buttontype.id)"
                    ng-click="toggleButtonTypeAssignment(license, buttontype.id)">
                  {{ buttontype.name }}
                </label>
              </div>
            </td>
            <td>
              <div ng-repeat="grouptype in grouptypes">
                <label>
                  <input type="checkbox" ng-checked="isGroupTypeAssignedToLicense(license, grouptype.id)"
                    ng-click="toggleGroupTypeAssignment(license, grouptype.id)">
                  {{ grouptype.name }}
                </label>
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" ng-model="license.total_totem"
                  ng-change="updateTotalTotem(license.id, license.total_totem)" min="0">
              </div>
            </td>
            <td>
              <button class="btn btn-default btn-xs" ng-click="editLicense(license.id)">Edit</button>
              <button class="btn btn-danger btn-xs" ng-click="deleteLicense(license.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <tfoot class="hide-if-no-paging">
        <tr>
          <td colspan="5" class="text-center footable-visible">
            <ul class="pagination">
              <li ng-class="{ disabled: currentPage === 0 }">
                <a ng-click="setCurrentPage(0)">«</a>
              </li>
              <li ng-class="{ disabled: currentPage === 0 }">
                <a ng-click="setCurrentPage(currentPage - 1)">‹</a>
              </li>
              <li ng-repeat="page in getPages()" ng-class="{ active: currentPage === page }">
                <a ng-click="setCurrentPage(page)">{{ page + 1 }}</a>
              </li>
              <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                <a ng-click="setCurrentPage(currentPage + 1)">›</a>
              </li>
              <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                <a ng-click="setCurrentPage(totalPages() - 1)">»</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->

<style>
  .license-id-column {
    width: 50px;
    /* Ajuste conforme necessário */
    text-align: center;
  }
</style>