<!-- ############ PAGE START-->
<div class="padding" ng-controller="LayerController">
    <div class="box">
        <div class="box-header">
            <h2>Layers for {{ periodName }}</h2>
            <small>View and manage layers associated with the period</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToCreateLayer()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Layer</span>
                    </button>
                    <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>
                            Layer Number
                        </th>
                        <th>
                            Parent
                        </th>
                        <th>
                            Name
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="layer in layerList | filter:searchText">
                        <td>{{ layer.layer_number }}</td>
                        <td>{{ layer.parent }}</td>
                        <td>{{ layer.name }}</td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="editLayer(layer.id)">Edit</button>
                            <button class="btn btn-danger btn-xs" ng-click="deleteLayer(layer.id)">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-xs"
                                ng-click="goToNewChildren(layer.layer_number)">New
                                Children</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="6" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->