<!-- ############ PAGE START-->
<div class="padding" ng-controller="LayerUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Update Layer</h2>
                    <small>Update the selected layer details.</small>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateLayer()" novalidate>
                        <div class="form-group">
                            <label for="avatar_id">Select Avatar</label>
                            <select id="avatar_id" class="form-control" ng-model="layerData.avatar_id" ng-options="avatar.id as avatar.name for avatar in avatars" required>
                                <option value="">--Choose an Avatar--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name">Layer Name</label>
                            <input type="text" class="form-control" id="name" ng-model="layerData.name" required>
                        </div>
                        <div class="form-group">
                            <label for="trigger">Trigger</label>
                            <input type="text" class="form-control" id="trigger" ng-model="layerData.trigger">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
