<!-- ############ PAGE START-->
<div class="padding" ng-controller="ContributionIAUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Updating {{ contributioniaName }} </h2>
                    <small>Update the selected contribution details.</small>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateContribution()" novalidate enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" ng-model="contributionData.name" required>
                        </div>
                        <div class="form-group">
                            <label for="language">Language</label>
                            <select id="language" class="form-control" ng-model="contributionData.language_id"
                                ng-options="language.id as language.name for language in languages" required>
                                <option value="">--Choose a Language--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select id="type" class="form-control" ng-model="contributionData.type" required>
                                <option value="VIDEO">Video</option>
                                <option value="IMAGE">Image</option>
                                <option value="3D">3D</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="trigger">Trigger</label>
                            <input type="text" class="form-control" id="trigger" ng-model="contributionData.trigger">
                        </div>
                        <div class="form-group">
                            <label for="detail">Detail</label>
                            <textarea class="form-control" id="detail" ng-model="contributionData.detail"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="file">File</label>
                            <input type="file" class="form-control" id="file" file-model="file">
                        </div>
                        <div class="progress mb-2" ng-show="showProgress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{'width': loadingProgress + '%'}" aria-valuenow="{{ loadingProgress }}" aria-valuemin="0" aria-valuemax="100">
                                {{ loadingProgress }}%
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
