<!-- ############ PAGE START-->
<div class="padding" ng-controller="VoiceController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Create Voice</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="createVoice()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Voice Name</label>
                            <input type="text" class="form-control" ng-model="newVoice.name" placeholder="Voice Name"
                                required>
                        </div>
                        <button type="submit" class="md-btn md-raised m-b-sm w-xs green">Create</button>
                        <button type="button" class="md-btn md-raised m-b-sm w-xs red"
                            ng-click="cancelCreate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->