<!-- ############ PAGE START-->
<div class="padding" ng-controller="LogsController">
    <div class="box">
        <div class="box-header">
            <h2>Logs</h2>
            <small>View logs associated with the selected license.</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-2">
                    Date: <input type="text" class="form-control input-sm" ng-model="dateSearchText" />
                </div>
                <div class="col-sm-2">
                    Totem ID: <input type="text" class="form-control input-sm" ng-model="totemIdSearchText" />
                </div>
                <div class="col-sm-2">
                    Client: <input type="text" class="form-control input-sm" ng-model="clientSearchText" />
                </div>
                <div class="col-sm-2">
                    Campaign: <input type="text" class="form-control input-sm" ng-model="campaignSearchText" />
                </div>
                <div class="col-sm-2">
                    Typology: <input type="text" class="form-control input-sm" ng-model="typologySearchText" />
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#logFilter" data-page-size="5">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Totem ID</th>
                        <th>Client</th>
                        <th>Campaign</th>
                        <th>Typology</th>
                        <th>Information</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in logs | filter: {
                        date: dateSearchText,
                        totem_id: totemIdSearchText == '' ? undefined : totemIdSearchText,
                        client: clientSearchText,
                        campaign: campaignSearchText,
                        typology: typologySearchText,
                        information: generalSearchText
                    }">
                        <td>{{ log.date | date: 'medium' }}</td>
                        <td>{{ log.totem_id }}</td>
                        <td>{{ log.client }}</td>
                        <td>{{ log.campaign }}</td>
                        <td>{{ log.typology }}</td>
                        <td>{{ log.information }}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" ng-click="deleteLog(log.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="7" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
