<!-- ############ PAGE START-->
<div class="padding" ng-controller="TotemController">
    <div class="box">
        <div class="box-header">
            <h2>Totems for {{ groupName }}</h2>
            <small>View and manage totems for {{ clientName }}</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToCreateTotem()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Totem</span>
                    </button>
                    <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5"  init-footable>
                <thead>
                    <tr>
                        <th data-toggle="true" data-sortable="true">
                            ID
                        </th>
                        <th data-toggle="true" data-sortable="true">
                            Name
                        </th>
                        <th data-hide="phone,tablet" data-sortable="true">
                            Group
                        </th>
                        <th data-hide="phone,tablet" data-sortable="true">
                            Client
                        </th>
                        <th data-hide="phone" data-sortable="true">
                            Installation Date
                        </th>
                        <th data-sortable="true">
                            Active
                        </th>
                        <th data-sortable="true">
                            Screens
                        </th>
                        <th data-sortable="true">
                            Comments
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="totem in totemList | filter:searchText">
                        <td>{{ totem.id }}</td>
                        <td>{{ totem.name }}</td>
                        <td>{{ groupName }}</td>
                        <td>{{ clientName }}</td>
                        <td>{{ totem.installation_date }}</td>
                        <td>
                            <input type="checkbox" ng-checked="totem.active" ng-click="toggleActive(totem)">
                        </td>
                        <td>{{ totem.screen_count }}</td>
                        <td>{{ totem.comments }}</td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs white"
                                ng-click="editTotem(totem.id)">Edit</button>
                            <button class="md-btn md-raised m-b-sm w-xs red"
                                ng-click="deleteTotem(totem.id)">Delete</button>
                        </td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs green"
                                ng-click="duplicateTotem(totem.id)">Duplicate</button>
                        </td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs white"
                                ng-click="goToScreens(totem.id, totem.name)">Screens</button>
                        </td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs white"
                                ng-click="goToLogs(totem.id, totem.name)">Logs</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="6" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->