<!-- ############ PAGE START-->
<div class="padding" ng-controller="TotemController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Create Totem</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="createTotem()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Group</label>
                            <input type="text" class="form-control" ng-model="groupName" placeholder="Group Name" required readonly>
                        </div>
                        <div class="form-group">
                            <label>Client</label>
                            <input type="text" class="form-control" ng-model="clientName" placeholder="Client Name" required readonly>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="newTotem.name" placeholder="Totem Name" required>
                        </div>
                        <div class="form-group">
                            <label>Installation Date</label>
                            <input type="date" class="form-control" ng-model="newTotem.installation_date" required>
                        </div>
                        <div class="form-group">
                            <label>Active</label>
                            <input type="checkbox" ng-model="newTotem.active">
                        </div>
                        <div class="form-group">
                            <label>Screens</label>
                            <input type="number" class="form-control" ng-model="newTotem.screens" required>
                        </div>
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea class="form-control" ng-model="newTotem.comments" placeholder="Enter any comments here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelCreate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
