<!-- ############ PAGE START-->
<div class="padding" ng-controller="ScreenController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Create Screen</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="createScreen()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Totem Name</label>
                            <input type="text" class="form-control" ng-model="totemName" placeholder="Totem Name" required readonly>
                        </div>
                        <div class="form-group">
                            <label for="typology_id">Typology</label>
                            <select id="typology_id" class="form-control" ng-model="newScreen.typology_id" ng-options="typology.id as typology.name for typology in screenTypes" required>
                                <option value="">--Select Typology--</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelCreate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
