<!-- ############ PAGE START-->
<div class="padding" ng-controller="LogsController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Create Log for Totem: {{ totemName }}</h2>
                </div>
                <div class="box-body">
                    <form ng-submit="createLog()">
                        <div class="form-group">
                            <label>Totem</label>
                            <input type="text" class="form-control" ng-model="totemName" placeholder="Totem Name" readonly>
                        </div>
                        <div class="form-group">
                            <label>Information</label>
                            <textarea class="form-control" ng-model="newLog.information" placeholder="Enter log details here..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelCreate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
