<!-- ############ PAGE START-->
<div class="padding" ng-controller="LogsController">
    <div class="box">
        <div class="box-header">
            <h2>Logs</h2>
            <small>View the logs of the kiosks associated with your license</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="exportToCSV()">
                        <i class="fa fa-fw fa-file-text text-muted"></i>
                        <span>Export to CSV</span>
                    </button>
                    <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
            <div>
                <table class="table m-b-none" ui-jp="footable" data-filter="#logFilter" data-page-size="5">
                    <thead>
                        <tr>
                            <th>
                                From
                                <input type="date" class="form-control" ng-model="from">
                                To
                                <input type="date" class="form-control" ng-model="to">
                            </th>
                            <th>
                                Totem ID <input type="text" class="form-control input-sm"
                                    ng-model="totemIdSearchText" />
                            </th>
                            <th>
                                Client <input type="text" class="form-control input-sm" ng-model="clientSearchText" />
                            </th>
                            <th>
                                Campaign <input type="text" class="form-control input-sm"
                                    ng-model="campaignSearchText" />
                            </th>
                            <th>
                                Totem Type <input type="text" class="form-control input-sm"
                                    ng-model="typologySearchText" />
                            </th>
                            <th>
                                Log Type <input type="text" class="form-control input-sm"
                                    ng-model="logtypeSearchText" />
                            </th>
                            <th>
                                Information<input type="text" class="form-control input-sm"
                                    ng-model="informationSearchText" />
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in logs | dateFilter:from:to | filter: {
                        date: dateSearchText,
                        client: clientSearchText,
                        campaign: campaignSearchText,
                        typology: typologySearchText,
                        logtype: logtypeSearchText,
                        information: informationSearchText
                    } | customTotemIdFilter:totemIdSearchText">
                            <td>{{ log.date | date: 'medium' }}</td>
                            <td>{{ log.totem_id }}</td>
                            <td>{{ log.client }}</td>
                            <td>{{ log.campaign }}</td>
                            <td>{{ log.typology }}</td>
                            <td>{{ log.logtype }}</td>
                            <td>{{ log.information }}</td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="deleteLog(log.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="7" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- ############ PAGE END-->