<!-- ############ PAGE START-->
<div class="padding" ng-controller="GroupTypeUpdateController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h2>Update Group Type</h2>
                </div>
                <div class="box-divider m-0"></div>
                <div class="box-body">
                    <form ng-submit="updateGroupType()" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Group Type Name</label>
                            <input type="text" class="form-control" ng-model="grouptype.name" placeholder="GroupType Name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->
