<!-- ############ PAGE START-->
<div class="padding" ng-controller="ContributionDSController">
    <div class="box">
        <div class="box-header">
            <h2>Contributions</h2>
            <small>Details of contributiondss</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-fw primary" ng-click="goToCreateContributionDS()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Contribution</span>
                    </button>
                    <button type="button" class="btn btn-fw info pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>Campaign</th>
                        <th>Name</th>
                        <th>File</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contributionds in contributiondsList | filter:searchText">
                        <td>{{ campaigndsName }}</td>
                        <td>{{ contributionds.name }}</td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs indigo"
                                ng-click="downloadFile(contributionds.id)">Download</button>
                            <button class="md-btn md-flat m-b-sm w-xs"
                                ng-click="viewFile(contributionds.file_path)">View</button>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs"
                                ng-click="editContributionDS(contributionds.id)">Edit</button>
                            <button class="btn btn-danger btn-xs"
                                ng-click="deleteContributionDS(contributionds.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="4" class="text-center">
                            <ul class="pagination"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->