<!-- ############ PAGE START-->
<div class="padding" ng-controller="ContributionAIController">
    <div class="box">
        <div class="box-header">
            <h2>Contributions for {{ layerName }}</h2>
            <small>View and manage contributions associated with the layer</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="md-btn md-raised m-b-sm w-md green" ng-click="goToCreateContributionAI()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Contribution</span>
                    </button>
                    <button type="button" class="md-btn md-raised m-b-sm w-xs blue pull-right" ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th>
                            Layer
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            File
                        </th>
                        <th>
                            Language
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Trigger
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Last Update
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contribution in getPaginatedData() | filter:searchText" ng-class-even="'footable-even'"
                    ng-class-odd="'footable-odd'">
                        <td>{{ contribution.layer.name }}</td>
                        <td>{{ contribution.name }}</td>
                        <td>
                            <input type="file" id="fileInput{{ contribution.id }}" style="display: none;" />
                            <button class="md-btn md-raised m-b-sm w-xs indigo"
                                ng-click="triggerFileInput(contribution.id, contribution.name)">Upload</button>
                            <button class="md-btn md-flat m-b-sm w-xs"
                                ng-click="viewFile(contribution.file_path)">View</button>
                        </td>
                        <td>{{ contribution.language.name }}</td>
                        <td>{{ contribution.type }}</td>
                        <td>{{ contribution.trigger }}</td>
                        <td>{{ contribution.detail }}</td>
                        <td>{{ contribution.last_update_date | date:'medium' }}</td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs white"
                                ng-click="editContributionAI(contribution.id, contribution.name)">Edit</button>
                            <button class="md-btn md-raised m-b-sm w-xs red"
                                ng-click="deleteContribution(contribution.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination">
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(0)">«</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(currentPage - 1)">‹</a>
                            </li>
                            <li ng-repeat="page in getPages() track by $index"
                                ng-class="{ active: currentPage === page, disabled: page === '...' }">
                                <a ng-click="setCurrentPage(page)" ng-if="page !== '...'">{{ page + 1 }}</a>
                                <a ng-if="page === '...'" style="pointer-events: none;">...</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(currentPage + 1)">›</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(totalPages() - 1)">»</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tfoot>
        </div>
        <div class="progress mb-2" ng-show="showProgress">
            <div class="progress-bar progress-bar-striped" role="progressbar"
                ng-style="{'width': loadingProgress + '%'}" aria-valuenow="{{ loadingProgress }}" aria-valuemin="0"
                aria-valuemax="100">
                {{ loadingProgress }}%
            </div>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->