<!-- ############ PAGE START-->
<div class="padding" ng-controller="ScreenTypeController">
    <div class="box">
        <div class="box-header">
            <h2>Screen Type Details</h2>
            <small>Details of registered screen types</small>
        </div>
        <div class="p-a white lt box-shadow">
            <div class="row">
                <div class="col-sm-6">
                    Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"
                        ng-model="searchText" />
                </div>
                <div class="col-sm-6">
                    <button class="md-btn md-raised m-b-sm w-md green" ng-click="goToNewScreenType()">
                        <i class="fa fa-fw fa-plus text-muted"></i>
                        <span>New Screen Type</span>
                    </button>
                    <a>
                        <button type="button" class="md-btn md-raised m-b-sm w-xs blue pull-right"
                            ng-click="goBack()">Back</button>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
                <thead>
                    <tr>
                        <th ng-if="isSuperuser()">ID</th>
                        <th data-toggle="true">
                            Name
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="screentype in getPaginatedData() | filter:searchText" ng-class-even="'footable-even'"
                        ng-class-odd="'footable-odd'">
                        <td ng-if="isSuperuser()">{{ screentype.id }}</td>
                        <td>{{ screentype.name }}</td>
                        <td>
                            <button class="md-btn md-raised m-b-sm w-xs white"
                                ng-click="editScreenType(screentype.id)">Edit</button>
                            <button class="md-btn md-raised m-b-sm w-xs red"
                                ng-click="deleteScreenType(screentype.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination">
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(0)">«</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === 0 }">
                                <a ng-click="setCurrentPage(currentPage - 1)">‹</a>
                            </li>
                            <li ng-repeat="page in getPages() track by $index"
                                ng-class="{ active: currentPage === page, disabled: page === '...' }">
                                <a ng-click="setCurrentPage(page)" ng-if="page !== '...'">{{ page + 1 }}</a>
                                <a ng-if="page === '...'" style="pointer-events: none;">...</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(currentPage + 1)">›</a>
                            </li>
                            <li ng-class="{ disabled: currentPage === totalPages() - 1 }">
                                <a ng-click="setCurrentPage(totalPages() - 1)">»</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tfoot>
        </div>
    </div>
</div>
<!-- ############ PAGE END-->